# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.vscode

# gradle
build
.gradle

# other
eclipse
run
run-data
runServer
tools
*.log
logs
scripts
node_modules
archived
package-lock.json
package.json
pets-1768990636369.json
tasks
external-sources

# github
.github

# Files from Forge MDK
forge*changelog.txt
